*.bin
log.txt
temp.txt
results/
#.vscode/*
#!.vscode/tasks.json
#!.vscode/launch.json
.vs/
*.exe
ngram_freq.csv
build/
resources/*.csv
resources/*.bin
!resources/test_word_scores.csv
gmon.out
profile_results.txt
.env
third_party/